<div class="header-wrapper fixed w-full">
  <div class="col-12 flex">
    <div class="col-6 flex">
      <div class="col-3 center-align">
        <a
          [href]="'/'"
          class="text-900 cursor-pointer"
          [pTooltip]="tooltipTexts.home"
          tooltipPosition="bottom"
        >
          <i class="pi pi-home text-4xl"></i>
        </a>
      </div>
      <div class="col-3 center-align">
        <a
          href="https://www.linkedin.com/in/iamnitishrao"
          target="_blank"
          class="cursor-pointer"
          [pTooltip]="tooltipTexts.linkedIn"
          tooltipPosition="bottom"
        >
          <i class="pi pi-linkedin text-4xl"></i>
        </a>
      </div>
      <div class="col-3 center-align">
        <a
          href="https://github.com/NITISH1-1"
          target="_blank"
          class="cursor-pointer text-900"
          [pTooltip]="tooltipTexts.github"
          tooltipPosition="bottom"
        >
          <i class="pi pi-github text-4xl"></i>
        </a>
      </div>
      <div class="col-3 center-align">
        <a
          href="../../assets/Nitish Rao(Resume) (3).pdf"
          class="text-900 cursor-pointer"
          download
          [pTooltip]="tooltipTexts.resume"
          tooltipPosition="bottom"
        >
          <i class="pi pi-book text-4xl"></i>
        </a>
      </div>
    </div>

    <div class="col-6 flex align-items-end justify-content-end">
      <div class="col-3">
        <span (click)="routeTo('journey')" class="text-4xl cursor-pointer">Journey</span>
      </div>
      <div class="col-3">
        <span class="text-4xl cursor-pointer">Projects</span>
      </div>
      <div class="col-3">
        <span (click)="routeTo('blogs')" class="text-4xl cursor-pointer">Blogs</span>
      </div>
    </div>
  </div>
</div>