<div class="flex align-items-end justify-content-end row pt-2">
  <div class="col-md-12">
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="pi pi-calendar-times text-8xl p-5 born"></i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.one}}</p>
        </span>
      </div>
    </div>
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="material-icons text-8xl p-5">school</i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.two}}</p>
        </span>

      </div>
    </div>
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="material-icons text-8xl p-5">school</i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.three}}</p>
        </span>

      </div>
    </div>
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="material-icons text-8xl p-5">school</i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.four}}</p>
        </span>

      </div>
    </div>
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="material-icons text-8xl p-5">school</i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.five}}</p>
        </span>

      </div>
    </div>
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="material-icons text-8xl p-5">school</i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.six}}</p>
        </span>

      </div>
    </div>
    <div class="flex">
      <div class="col-md-2 w-1">
        <i class="material-icons text-8xl p-5">school</i>
      </div>
      <div class="col-md-10 pl-7 pt-6">
        <span class="text-5xl">
          <p class="text-2xl text-indigo-800">{{journeyTexts.seven}}</p>
        </span>
      </div>
    </div>
  </div>
</div>