body{
  overflow: hidden;
}

.row{
  padding: 100px;
  
}
.born{
  color: #33ccff;
}
.school-1{
  color: orchid;
}
.school-2{
  color: greenyellow;
}
.school-3{
  color: gray;
}
.school-4{
  color: gray;
}
.school-5{
  color: red;
}
.school-6{
  color: blue;
}
.hr{
  margin-left: 36px;
}

p{
  color: gray;
}